@import 'tailwindcss';

:root {
  @media (min-width: 48rem) {
    --background: url(/images/backgroundImage.jpg);
  }
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-primary: #e57b3e;
  --color-secondary: #000000;
  --color-transparent: 'transparent';
  --font-italic: var(--font-libre-baskerville-italic);
  --font-regular: var(--font-libre-baskerville-regular);
  --font-bold: var(--font-libre-baskerville-bold);
  --font-ls-regular: var(--font-league-spartan-regular);
  --font-league-spartan-medium: var(--font-league-spartan-medium);
}

body {
  color: var(--foreground);
  background: var(--background);
  background-repeat: repeat; /* Prevent image from repeating */
  /* background-size: cover; Cover the entire body */
  background-attachment: fixed; /* Image remains fixed on scroll */
  background-position: center; /* Center the image */
  color: #000000;
}

.main-body {
  color: #000000;
  line-height: 1.625rem;
  font-size: 1.125rem;
  font-family: var(--font-libre-baskerville-regular);
}

.hero-section {
  line-height: 130%;
  font-family: var(--font-league-spartan-bold);
  font-size: clamp(1.813rem, 2vw + 1.5rem, 3.25rem);
}

.title {
  font-family: var(--font-league-spartan-bold);
}

/* .body1 {
  @apply text-lg;
}
.body2 {
  @apply text-base;
} */

h1,
h2,
h3 {
  color: #000000;
}

h2 {
  font-weight: 600;
  @apply font-medium md:font-bold;
}

h1 {
  font-size: clamp(2rem, 2vw + 1.75rem, 3rem);
  line-height: normal;
}

h2 {
  font-size: clamp(1.5rem, 2vw + 1.5rem, 1.875rem);
  line-height: normal;
  /* @apply font-medium md:font-bold;
  @apply md:text-4xl; */
}

h3 {
  /* font-size: 1.125rem; */
  /* line-height: 1.55; */
  font-weight: 600;
}

/* button {
  font-family: var(--font-league-spartan-bold);
  font-size: 20px;
} */

p {
  line-height: normal;
  font-size: 1.125rem;
}
