@import 'tailwindcss';

:root {
  --foreground: #171717;
}
@theme inline {
  --color-primary: #e57b3e;
  --color-secondary: #000000;
  --color-transparent: 'transparent';
  --font-italic: var(--font-libre-baskerville-italic);
  --font-regular: var(--font-libre-baskerville-regular);
  --font-bold: var(--font-libre-baskerville-bold);
  --font-ls-regular: var(--font-league-spartan-regular);
  --font-league-spartan-medium: var(--font-league-spartan-medium);
  --font-league-spartan-bold: var(--font-league-spartan-bold);
}

body {
  color: var(--foreground);
  background: var(--background);
  background-repeat: repeat; /* Prevent image from repeating */
  background-attachment: fixed; /* Image remains fixed on scroll */
  background-position: center; /* Center the image */
  color: #000000;
}

.main-body {
  color: #000000;
  line-height: 1.625rem;
  font-size: 1.125rem;
  font-family: var(--font-libre-baskerville-regular);
}

.hero-section {
  line-height: 130%;
  font-family: var(--font-league-spartan-bold);
  font-size: clamp(1.813rem, 2vw + 1.5rem, 3.25rem);
}

.title {
  font-family: var(--font-league-spartan-bold);
}

h1,
h2,
h3 {
  color: #000000;
}

h2 {
  font-weight: 600;
  @apply font-medium md:font-bold;
}

h1 {
  font-size: clamp(2rem, 2vw + 1.75rem, 3rem);
  line-height: normal;
}

h2 {
  font-size: clamp(1.5rem, 2vw + 1.5rem, 1.875rem);
  line-height: normal;
}

h3 {
  font-weight: 600;
}

p li {
  line-height: normal;
  font-size: 1.125rem;
}

button {
  line-height: normal;
}
